<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> 
<meta name="author" content="Joabe Pereira">
<link rel="stylesheet" th:href="@{../css/style.css}">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
<title>Jbasketball</title>
</head>
<body>
	
	<header th:fragment="cabecalho">
		<nav class="navbar bg-dark">
			<a class="navbar-brand" th:href="@{/jogos}">
				<img src="../img/logo.png" width="120">
			</a>
		</nav>
	</header>
	
	<footer th:fragment="rodape">
		<div class="rodape">
			<span>Todos os Direitos Reservados - &copy; Joabe Pereira - 2020</span>
		</div>
	</footer>

	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>