<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> 
<meta name="author" content="Joabe Pereira">
<link rel="stylesheet" th:href="@{css/style.css}">
<script src="https://kit.fontawesome.com/006642858d.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&family=Ubuntu&family=Work+Sans&display=swap" rel="stylesheet">
<title>Jbasketball</title>
</head>
<body>

	<!-- Cabeçalho -->
	<header th:fragment="cabecalho">
		<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FFDEAD">
			<a class="navbar-brand" th:href="@{/}">
				<img src="../img/jbasketball.png" width="100" height="100">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div id="navMobile" class="navbar-collapse collapse justify-content-end">
				<a class="btn-nav nav-item nav-link" th:href="@{/}"><i class="fas fa-home"></i> Home</a>
				<a class="btn-nav nav-item nav-link" th:href="@{/jogo/novo}"><i class="fas fa-basketball-ball"></i> Cadastrar Jogo</a>
				<a class="btn-nav nav-item nav-link"><i class="fas fa-search"></i> Pesquisar Jogo</a>
				<a class="btn-nav nav-item nav-link btn-dark"><i class="fas fa-times"></i> Sair</a>
			</div>
		</nav>
	</header>
	
	<!-- Rodapé -->
	<footer th:fragment="rodape">
		<div class="rodape">
			<span>Todos os Direitos Reservados - &copy; Joabe Pereira</span>
		</div>
	</footer>
	
	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>