@charset "UTF8";

*{margin: 0; padding: 0; box-sizing: border-box;}

.container {
	height: 100vh;
}

.conteudoTable {
	text-align: center;
}

.novoJogo {
	float: right;
	font-size: 17px;
}

.rodape {
	background-color: #343a40;
	color: #FFF;
	height: 25px;
	text-align: center;
}

